VITE_FIREBASE_API_KEY=AIzaSyC4vFv6NbJngme-aId3HIqrsPbGVNqXwlo
VITE_FIREBASE_AUTH_DOMAIN=citumang-pangandaran-35cf8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=citumang-pangandaran-35cf8
VITE_FIREBASE_STORAGE_BUCKET=citumang-pangandaran-35cf8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=351734088485
VITE_FIREBASE_APP_ID=1:351734088485:web:5faca33e211f368ad790cc